<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="calendall.com.br.calendallpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/entrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterLoginActivity"
            android:label="@string/registrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterEnderecoActivity"
            android:label="@string/registrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterBoletoCartaoActivity"
            android:label="@string/registrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterCartaoActivity"
            android:label="@string/registrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AtividadeListActivity"
            android:label="@string/registrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AtividadeUsuarioListActivity"
            android:label="@string/registrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MenuActivity"
            android:label="@string/menu" />
        <activity
            android:name=".view.EsqueciSenhaActivity" />
    </application>

</manifest>